.App {
  text-align: center;
  
}
html{
  background: linear-gradient(to right,
  rgba(156, 134, 7, 0.445),rgba(70, 62, 62, 0.493),
  rgba(75, 14, 14, 0.548), rgba(19, 12, 110, 0.445));
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sho {
  border-radius: 8px;
  background: linear-gradient(to right,
   rgba(156, 134, 7, 0.445),rgba(70, 62, 62, 0.493),
   rgba(75, 14, 14, 0.548), rgba(19, 12, 110, 0.445));
}
.divbio {
  background: #8f8e4693;
  width:  450px;
  height: 200px;
  justify-content: center;
  margin: 0 auto;
  border-radius: 8px;
  color: white;
  font-size: large;
  padding: 10px;
}

.image {
  max-width: 400px;
  height: 250px;
  margin-top: 20px;
  border-radius: 15%;
}
p {
  justify-content: center;
}

.image:hover {
  max-width: 600px;
  height: 600px;
  margin-top: 20px;
  border-radius: 50%;
  transition: 0.5s ease-in-out;
}
.imago{
  width: 200px;
  height: 200px;
  border-radius: 100%;
}
@media (prefers-reduced-motion: no-preference) {
  .imago {
    animation: imgo infinite 40s linear;
  }
}

@keyframes imgo {
  from{transform: rotate(0deg);}
  to{transform: rotate(360deg);}
}
.btn{
  background: linear-gradient(to right,
  rgba(156, 134, 7, 0.445),rgba(70, 62, 62, 0.493),
  rgba(75, 14, 14, 0.548), rgba(19, 12, 110, 0.445));
  width: 80px;
  height: 40px;
  margin-top:30px;
  color:gold;
}
.App-clock{
  color: gold;
}
